body{
    margin: 0;
}

.header {
    background-color: rgba($color: #000000, $alpha: 0.5);
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

@media (max-width:768px) {
    .header__nav{
        flex-direction: column;
        padding: 0px 20px;
    }
}


.header__logo {
}
.header__nav-list {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

@media (max-width:786px){
    .header__nav-list{
        flex-wrap: wrap;
    }
}

.nav-list__item {
}
.nav-list__link {
    font-size: 20px;
    color: rgb(150, 149, 149);
    text-decoration: none;
    &:hover{
        color: #f5c542;
        text-decoration: underline;
    }
}

//////////////////////////////////////////////////////////


.main {
}
.hero__wrapper{
    background-image: url(../img/Hero__bg.png);
    background-size: cover;
    background-position: center;
}
.hero {
    color: rgb(140, 224, 245);
    padding: 200px 100px 50px ;
}
.hero__content{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 20px;
    font-size: 20px;
}

@media(max-width:600px){
    .hero__content{
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }
}


.hero__icon {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 3px solid #f5c542;
}
.hero__description {
}
.hero__name {
    color: white;
    font-size: 40px;
}
.hero__list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    font-size: 20px;
}
.hero__list-item {
}
.description__text {
}
.description__btn {
    text-align: center;
    background-color: rgba($color: #6b0101, $alpha: 0.7);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid silver;

}
.description__btn-logo {
}
.description__btn-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

///////////////////////////////////////////////////

.interests {
    display: flex;
    padding: 30px 100px 0px 100px;
    background-color: rgb(9, 20, 31);
    color: white;
}

@media(max-width:786px){
    .interests{
        flex-direction: column;
        padding: 10px 70px 0px 70px;
    }
}

.interests__title {
    width: 30%;
    font-size: 30px;
}

@media(max-width:786px){
    .interests__title{
        width: 100%;
    }
}

.interests__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 70%;
}
@media(max-width:786px){
    .interests__list{
        width: 100%;
    }
}

.interests__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.interests__card-logo {
    width: 100px;
    height: 100px;
}
.interests__card-title {
}
.interests__card-text {
}

////////////////////////////////////////////////////////



.games {
    padding: 30px 100px;
    background-color: rgb(9, 20, 31);
}
.games__title {
    font-size: 30px;
    color: white;
}
.games__list {
    display: flex;
    justify-content: space-between;
}
@media(max-width:786px){
    .games__list{
        flex-direction: column;
        gap: 10px;
    }
}



.games__card--title{
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    margin: 0;
}
.games__card {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 23%;
    height: 200px;
    border-radius: 10px;
    border: 2px solid grey;
    position: relative;
    &:hover{
        width: 26%;
        height: 250px;
        border: 2px solid white;
    }
}
@media(max-width:786px){
    .games__card{
        width: 100%;
        height: 150px;
    }
}

.games__card-wow{
    background-image: url(../img/wow-img.webp);
}
.games__card-witcher{
    background-image: url(../img/witcher-img.png);
}
.games__card-baldur{
    background-image: url(../img/baldurs-img.png);
}
.games__card-mass{
    background-image: url(../img/mass-img.png);
}

//////////////////////////////////////////




.footer {
    background-color: rgb(6, 14, 22);
    padding: 40px 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
@media(max-width:670px){
    .footer{
        flex-direction: column;
        gap: 30px;
    }
}



.footer__quote {
    color: grey;
    font-style: italic;
    font-size: 30px;
}

.footer__media {
    display: flex;
    align-items: center;
    gap: 50px;
}
@media(max-width:786px){
    .footer__media{
        gap: 25px;
    }
}

.footer__link {
}
.footer__img {
    width: 50px;
}
